@{
    ViewData["Title"] = "Про нас";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-4 text-primary">@ViewData["Title"]</h1>
            <p class="lead">
                TechNews — це ваш щоденний провідник у світі високих технологій, програмування та штучного інтелекту. 
                Ми засновані у 2025 році з метою надання актуальних та неупереджених новин для технічної спільноти.
            </p>

            <h2 class="mt-5">Наша місія</h2>
            <p>
                Наша місія полягає в тому, щоб забезпечити глибокий аналіз індустрії, незалежні огляди продуктів та якісні освітні матеріали. 
                Ми віримо, що знання про технології повинні бути доступними кожному.
            </p>

            <h2 class="mt-5">Наша команда</h2>
            <p>
                Проект "TechNews" розроблений в рамках курсової роботи з дисципліни 
                <b>«Веб - технології та веб-дизайн»</b>.
                Технологічна основа: ASP.NET Core MVC та Entity Framework Core.
            </p>
            
        </div>
    </div>
</div>
